.carousel .carousel-track-container {
    position: relative;
    overflow: hidden;
}
.carousel .carousel-track {
    transition: transform 500ms ease 0s;
}
.carousel .carousel-slide {
    position: absolute;
    left: 0;
}
.carousel image {
    width: 100%;
}